@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* height: 100%; */
  color: #FCCEAA;
  background: #2A373D;
}

main {
  background: #9BB89A;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #F5827B;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
